#product1{
    text-align: center;
    select{
        margin-top: 20px;
        padding: 10px;
    }
    .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }
}