$maincolor: #171717;
        .pro{
            width: 23%;
            min-width: 250px;
            padding: 10px 12px;
            border: 1px solid $maincolor;
            margin: 15px 0;
            img{
                width: 100%;
            }
            .description{
                text-align: start;
                padding: 10px 0;
                position: relative;
                h5{
                    padding-top: 7px;
                    color: $maincolor;
                    font-size: 17px;
                }
                i{
                    font-size: 12px;
                }
                h4{
                    padding-top: 7px;
                    font-size: 15px;
                    font-weight: 700;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }