$maincolor: #171717;
    .pro-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .pagination {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        button{
            margin: 0 5px;
            padding: 6px;
        }
    }