{% extends "index" %}

{% block content %}

<div class="section-p1">
    <h2>Your Cart</h2>
    <p>Cart is empty</p>
</div>
<div class="section-p1">
    <a href="/checkout" class="checkout">Go to checkout</a>
</div>

{% endblock %}