    <section id="hero">
        <div>
            <h4>Trade-in-Offer</h4>
            <h2>Super value deals</h2>
            <h1>On all suits</h1>
            <p>The best suit company in Belgium!</p>
            <button><RouterLink to="/shop">Shop Now</RouterLink></button>
        </div>
    </section>