    <div class="pro">
        <RouterLink :to="{ name: 'detailpage', params: { productId: product.id} }"><img :src="product.thumbnail" alt="suit1"></RouterLink>
            <div class="description">
                <h5>{{ product.title }}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>€{{ product.price }}</h4>
            </div>
    </div>