{% extends "index" %}

{% block content %}

<section id="product1" class="section-p1">
        <h2>All Products</h2>
        <p>Summer Collection New Suit Designs</p>
        <div class="section-p1">
            <h4>Filter by:</h4>
            <select>
                <option>Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
            <select>
                <option>Color</option>
                <option>Gray</option>
                <option>Navy</option>
                <option>Black</option>
                <option>Brown</option>
            </select>
        </div>
        <div class="pro-container">
            <div class="pro">
                <a href="details.html"><img src="assets/f1.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Carnegi Navy Suit</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f2.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Herringbone Brown Classic</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f3.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Marc Darcy Scott Gray</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f4.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Dion Blue Herringbone</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f1.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Carnegi Navy Suit</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f1.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Carnegi Navy Suit</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f1.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Carnegi Navy Suit</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
            <div class="pro">
                <a href="#"><img src="assets/f1.jpg" alt="suit1"></a>
                <div class="description">
                    <h5>Carnegi Navy Suit</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>€120</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </section>

{% endblock %}