  <HeaderComponent />
  <section id="prodetails" class="section-p1" v-if="selectedProduct">
      <div class="single-pro-image">
        <RouterLink to="/shop"><i class="fa-solid fa-arrow-left"></i></RouterLink>
        <img :src="selectedProduct.thumbnail" :alt="selectedProduct.title" width="100%" id="mainimg"/>
      </div>
      <div class="single-pro-details">
        <h6>Home / Suits</h6>
        <h4>{{ selectedProduct.title }}</h4>
        <h2>€{{ selectedProduct.price }}</h2>
        <p>{{ selectedProduct.description }}</p>
        <div class="quantity-controls">
          <button @click="decrementQuantity">-</button>
          <input v-model.number="quantity" type="number" min="1" :max="maxQuantity" />
          <button @click="incrementQuantity">+</button>
        </div>
        <button @click="addToCart(selectedProduct)" :disabled="quantity > availableStock">Add to Cart</button>
        <span v-if="quantity > availableStock" class="error-message">Not enough stock available</span>
      </div>
  </section>
  <div v-else>
      <p>Loading...</p>
    </div>
  <FooterComponent />