<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <title>pulse.</title>
    <script src="https://kit.fontawesome.com/e00a7e113b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ siteUrl }}css/main.css">
</head>

<body>

    {% include "components/_cookies.twig" %}

    {% include "components/_header.twig" %}

    {% block content %}
    {% endblock %}



    {% include "components/_footer.twig" %}
</body>

</html>