    <HeaderComponent/>
    <div id="product1" class="section-p1">
        <h2>All Products</h2>
        <p>Summer Collection New Suit Designs</p>
        <div class="section-p1">
            <h4>Filter by:</h4>
            <select>
                <option>Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
            <select>
                <option>Color</option>
                <option>Gray</option>
                <option>Navy</option>
                <option>Black</option>
                <option>Brown</option>
            </select>
        </div>
    </div>
    <div class="pro-container">
        <ProductCardComponent v-for="product in displayedProducts" :key="product.id" :product="product"/>
    </div>
    <div class="pagination">
            <button @click="changePage(-1)" :disabled="currentPage === 1">Previous</button>
            <span>{{ currentPage }}</span>
            <button @click="changePage(1)" :disabled="currentPage === totalPages">Next</button>
        </div>
    <FooterComponent/>