<div class="wrapper">
    <div class"content">
        <h4>Cookies required!</h4>
        <p>This website uses cookies to ensure you get the best experience on our website.</p>
        <div class="buttons">
            <button class="item">Accept</button>
            <a class="item" href="https://link.com/en-be/legal/cookies">Learn more</a>
        </div>
    </div>
</div>