<footer class="section-p1">
    <div class="col">
        <img src="assets/logo.png" alt="logo">
        <h4>Contact</h4>
        <p>{{footer.footerAddress}}</p>
        <p>{{footer.footerPhone}}</p>
        <p>{{footer.footerHours}}</p>

        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>{{footer.textplain}}</p>
    </div>
</footer>